<a href="https://colab.research.google.com/github/dennkitotaichi/CE_PLUS/blob/master/make__Two_dimensional_array_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [68]:
mylist = [[0]*2 for i in range(3)]
print(mylist)

mylist1_1 = mylist
print(mylist1_1)
mylist1_1[2][1]=100
print(mylist1_1)

[[0, 0], [0, 0], [0, 0]]
[[0, 0], [0, 0], [0, 0]]

IndexError: ignored

In [65]:
for i in range(3):
  for w in range(2):

   print(i)
   print(w)

0
0
0
1
1
0
1
1
2
0
2
1

In [70]:

def Enter_data(a, b):
 for i in range(a):
  for w in range(b):
   print(w)
   print(i)


Enter_data(2, 3)

0
0
1
0
2
0
0
1
1
1
2
1

In [71]:
Enter_data(2, 3)

0
0
1
0
2
0
0
1
1
1
2
1

In [84]:
mylist2 = mylist

def Enter_data2(a, b):
 for i in range(a):
  for w in range(b):
   print(w,i)

   mylist2[w][0]=w
   mylist2[w][1]=w

  return mylist2

make_mylist = Enter_data2(2, 3)

print(make_mylist)

0 0
1 0
2 0
[[0, 0], [1, 1], [2, 2]]

In [89]:
mylist2 = mylist

def Enter_data2(a, b,c,d):
 for i in range(a):
  for w in range(b):
   print(w,i)
   mylist2[w][0]=c
   mylist2[w][1]=d
  return mylist2

make_mylist = Enter_data2(2, 3,0,0)

print(make_mylist)

make_mylist = Enter_data2(2, 3,1,2)

print(make_mylist)

make_mylist = Enter_data2(2, 3,1,5)

print(make_mylist)

0 0
1 0
2 0
[[0, 0], [0, 0], [0, 0]]
0 0
1 0
2 0
[[1, 2], [1, 2], [1, 2]]
0 0
1 0
2 0
[[1, 5], [1, 5], [1, 5]]

In [93]:
mylist2 = mylist
print(mylist2)
mylist2[1][0]=100
print(mylist2)
mylist3 = mylist
print(mylist3)

mylist4 = list(range(1,7))
print(mylist4)

for w in range(2):
  print(w)
  mylist3[0][w]=w
  print(mylist3)


for w in range(2):
  print(w)
  mylist3[w][0]=w
  print(mylist3)

[[1, 5], [1, 5], [1, 5]]
[[1, 5], [100, 5], [1, 5]]
[[1, 5], [100, 5], [1, 5]]
[1, 2, 3, 4, 5, 6]
0
[[0, 5], [100, 5], [1, 5]]
1
[[0, 1], [100, 5], [1, 5]]
0
[[0, 1], [100, 5], [1, 5]]
1
[[0, 1], [1, 5], [1, 5]]

In [94]:
lookback = 1

for i in range(len(mylist4)):
 j = 0 - lookback + i
 k = j + lookback
        
 mylist3[0][0] = mylist4[j]
 mylist3[0][1] = mylist4[k]

 print("tugihaXdayo")
 print(mylist3)
 print("tugihaYdayo")
 print(mylist3)

tugihaXdayo
[[6, 1], [1, 5], [1, 5]]
tugihaYdayo
[[6, 1], [1, 5], [1, 5]]
tugihaXdayo
[[1, 2], [1, 5], [1, 5]]
tugihaYdayo
[[1, 2], [1, 5], [1, 5]]
tugihaXdayo
[[2, 3], [1, 5], [1, 5]]
tugihaYdayo
[[2, 3], [1, 5], [1, 5]]
tugihaXdayo
[[3, 4], [1, 5], [1, 5]]
tugihaYdayo
[[3, 4], [1, 5], [1, 5]]
tugihaXdayo
[[4, 5], [1, 5], [1, 5]]
tugihaYdayo
[[4, 5], [1, 5], [1, 5]]
tugihaXdayo
[[5, 6], [1, 5], [1, 5]]
tugihaYdayo
[[5, 6], [1, 5], [1, 5]]